/*
colors

background: #FAFAFA
div: #FFFFFF
text-input: #9F9C9C
font: Work Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
body{
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100vh;
}
#instagram_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#image_phone{
    margin-right: 50px;
}
video{
    width: 280px;
    height: 480px;
    position: absolute;
    top: 136px;
    z-index: -1;
}
#login{
    width: 348px;
    height: 399px;
    background-color: #FFFFFF;
    border: #E7E7E7 solid 1px;
    display: flex;
    flex-direction: column; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    margin-bottom: 40px;
    margin-top: 45px;
}
#login > .login_input{
    color: #9F9C9C;
    width: 252px;
    height: 35px;
    background-color: #FAFAFA;
    border: #E7E7E7 solid 1px;
    border-radius: 2px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
}
#button_login{
    width: 262px;
    height: 32px;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #4DB5F9;
    margin-top: 12px;
    cursor: pointer;
}
#login > p{
    padding: 10px;
    background-color: #FFFFFF;
    color: #a19f9a;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 335px;
}
#forgot_password{
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-top: #E7E7E7 solid 1px;
}
#forgot_password > a{
    font-size: 12px;
    color: #385185;
    margin-top: 20px;
}
#facebook_wrapper{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#facebook_wrapper > img{
    width: 18px;
    height: 18px;
}
#facebook_wrapper > a{
    font-size: 15px;
    font-weight: 500;
    color: #385185;
    margin-left: 5px;
}
#sign_up{
    width: 348px;
    height: 63px;
    background-color: #FFFFFF;
    border: #E7E7E7 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 14px;
}
#sign_up > a{
    margin-left: 5px;
    color: #45c1f1;
    font-weight: 600;
}
#get_app{
    width: 348px;
    height: 100px;
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#download_options{
    display: flex;
    flex-direction: row;
}
.app_download{
    width: 150px;
    height: 45px;
    background-color: #000000;
    margin: 10px 10px 0 0;
    border-radius: 3px;
}
.app_download > p{
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
    padding-bottom: 2px;
}
.description_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.description_wrapper > img{
    padding-left: 5px;
}
.description_wrapper > p{
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
    padding-bottom: 2px;
}
summary{
    list-style: none;
}
summary > i{
    color: #9F9C9C;
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
p > a{
    margin-right: 10px;
    text-decoration: none;
    color: #9F9C9C;
    font-size: 12px;
    font-weight: 500;
}
#footer_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}
#footer_group > p{
    text-decoration: none;
    color: #9F9C9C;
    font-size: 12px;
    font-weight: 500;
}
ul{
    height: 80px;
    overflow-y: scroll;
}
li{
    list-style-type: none;
}

@media (max-width:650px) {
    #image_phone{
        display: none;
    }
    body {
        background-color: #FFFFFF;
    }
    #login{
        border: none;
    }
    #sign_up{
        border: none;
    }
    video{
        display: none;
    }
    figure{
        display: none;
    }
}